:root {
  --primary-color: #c16659;
  --secondary-color: #ef8432;
  --accent-light-color: #f7d8a8;
  --accent-medium-color: #e0c392;
  --background-color: #2c3e50;
  --text-color: #f7d8a8;
}

body {
  font-family: sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
}

h1 {
  color: var(--secondary-color);
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #34495e;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 15px;
}

strong {
  color: var(--accent-light-color);
}

a {
  color: var(--accent-light-color);
  text-decoration: none;
  display: block;
  margin-top: 20px;
  text-align: center;
}

a:hover {
  text-decoration: underline;
  color: var(--accent-medium-color);
}

p {
  text-align: center;
}